@import url(fonts/fixedsys);

.animation{
    width: 10000px;
    height: 100vh;
    background: url(/img/Osaka_Stars.png);
    
    animation: infinite 35s linear infinite;
}

@keyframes infinite{
    100%{
        background-position: 100% 1000px;
    }
}

body {
    font-size: 13px;
    display: grid;
    grid-template-columns: 200px 800px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: fixedsys;
    }
    
center {
    text-align: center;
    }
    
a {
    color: #0000aa;
    }

button {
    background: #c0c0c0;
    border: 8px solid #c0c0c0;
    box-shadow: 2px 2px #808080;
    color: #000000;
    }
/*All sidebars go in here.*/  
.sidebar-group {
position: fixed;
margin-top: 140px;
margin-left: -280px;
}

/*Code shared by all window-style boxes. To see what different specific sidebar classes look like, check the demo page.*/
.leftsidebar, .rightsidebar, .mini-sidebar, .top-bar, .wide-sidebar, .box {
background: #c0c0c0;
border: 3px solid #c0c0c0;
box-shadow: 2px 2px #808080;

}

/*Prevent image overflow.*/
.leftsidebar, .rightsidebar, img, .mini-sidebar, img, .top-bar, img, .box img {
max-width: 100%;
height: auto; /*Prevent squishing*/
}

.leftsidebar, .rightsidebar .sidebar-box {
display: inline-block;
vertical-align: top;
width: 200px;
}

/*Container for vertical stacks of multiple mini-sidebars*/
.sidebar-box {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 290px;
}

.leftsidebar {
margin-bottom: 15px;
margin-top: 15px;
width: 290px;
position:fixed;
}

.rightsidebar {
margin-bottom: 15px;
margin-top: 15px;
width: 263px;
position:fixed;
margin-left: 57.81em;
}

.mini-sidebar {
margin-bottom: 25px;
}

.top-bar {
position:fixed;
width: 1016px;
background: #c0c0c0;
color: rgb(0, 0, 0);
text-align:center;
font-size: 1.4em;
}

/*Inside/main text of window boxes.*/
.inner {
padding: 10px;
padding-bottom: 5px;
padding-top: 0px;
}

/*The title bar at the top of window boxes.*/
.title-bar, .box-title-bar {
background: #0000aa;
color: rgb(255, 255, 255);
font-weight: bold;
padding: 5px;
padding-top: 3px;
padding-bottom: 3px;
text-align: center;
}

/*The title bar of boxes has slightly more padding, since there's more room to space text.*/
.box-title-bar {
padding: 7px;
padding-top: 5px;
padding-bottom: 5px;
}

/*For the symbol in the top right corner.*/
.right {
float: right;
margin-right: 5px;
line-height: 12px;
}

/*Round circular image.*/
.icon {
border: #000000 solid 2px;
border-radius: 50%;
}

/*Main body text boxes.*/
.box {
margin-top: 29.5px;
margin-left: 306px;
width: 430px;
margin-bottom: -15px;
}

.fit{
    display:flex;
    justify-content: center;
    align-items:flex-start;
}


/*this part is a joke. no need to use it.*/
.big-quote {
font-size: 32px;
color: #ffffff;
letter-spacing: 6px;
word-spacing: 2px;
position: fixed;
margin-left: 1050px;
margin-top: 300px;
top: 0;
width: 300px;
}

wide {
letter-spacing: 16px;
}

midwide {
letter-spacing: 3px;
}
